*{
    margin: 0px;
    background-color:rgb(209, 207, 208);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    font-family: fantasy;
    font-size: 4em;
    border-bottom: 2px solid gray;
    border-right: 2px;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 5px #888888;
    transition: all .5s;
    
}
img{
    width: 450px;
    height: 450px;
    margin: 10px;
    box-shadow: 4px 4px 5px #888888;
    transition: all .5s;
}
img:hover {
    transform : scale(1.1)
}
h1:hover {
    transform : scale(1.1)
}